<h1>Listing test_items</h1>

<table>
  <tr>
    <th>String</th>
    <th>Integer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_items.each do |test_item| %>
  <tr>
    <td><%= test_item.string %></td>
    <td><%= test_item.integer %></td>
    <td><%= link_to 'Show', test_item %></td>
    <td><%= link_to 'Edit', edit_test_item_path(test_item) %></td>
    <td><%= link_to 'Destroy', test_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test item', new_test_item_path %>
