<!DOCTYPE html>
<html>
<head>
  <title>GW2CraftMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://static-ascalon.cursecdn.com/current/js/syndication/tt.js"></script>
  
</head>
<body class='blueish' id='top'>
  
  <section class='boxed'>
    <section id="main">
      <div class='one_full'>
        <div id='logo'>
          GW2 Craft Master
          <!-- <small>A simple tool for making gold in Guild Wars 2</small> -->
        </div>
        <nav id='primary'>
          <ul>
            <li><%= link_to "Professions", professions_url %></li>
          </ul>
        </nav>        
      </div>
      <div class='one_full'></div>

        <hr>
        <% if notice %>
          <div class='one_full'><p class="notice"><%= notice %></p></div>
        <% end %>

        <% if alert %>
          <div class='one_full'><p class="alert"><%= alert %></p></div>
        <% end %>

        <%= yield %>        
    


      
    </section>
  </section>
  
</body>
</html>
